*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;

}

.image_logo{
    width: 50px;
    height: 50px;
}

li{
    list-style: none;
}


.container{
    background-image: url("https://th.bing.com/th/id/R.f48ceff9ab3322d4e84ed12a44c484d1?rik=0KQ6OgL4T%2b9uCA&riu=http%3a%2f%2fwww.photo-paysage.com%2falbums%2fuserpics%2f10001%2fCascade_-15.JPG&ehk=kx1JjE9ugj%2bZvUIrjzSmcnslPc7NE1cOnZdra%2f3pJEM%3d&risl=1&pid=ImgRaw&r=0");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraphe{
    width: 30%;
    color: aliceblue;
}
